body, html {
    background-image: url(static/man-and-horse.png), url(man-and-horse.png);
    background-size: 100%;
    background-position: bottom left;
    background-attachment: fixed;
    color:rgba(51, 38, 28);
}

header {
    font-family: Copperplate, "Copperplate Gothic Light";
    font-size: 50px;
    color: rgb(255, 213, 192);
    text-shadow: 2px 2px 3px rgba(51, 38, 28, 0.5);
    float: left;
    width: 73%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    padding: 1%;
    border-radius: 5px;
}

table {
    background-color: rgb(204, 67, 67);
    opacity: 0.95;
    font-family: 'Courier New', Courier, monospace;
    width: 75%;
    margin-left: 5%;
    margin-top: 1%;
    padding: 5px;
    border-radius: 5px;
    color:rgb(51, 38, 28);

}

form {
    float: left;
    margin: 5%;
    text-align: center;
    background-color: chartreuse;
}

div {
    display: inline-block;
    width: 100%;

}

footer {
    max-width: 73%;
    margin-left: 5%;
    margin-top: 1%;
    opacity: 0.9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(255, 213, 192);
    padding: 1%;
    border-radius: 5px;

}

.inputbar {
    width: 50%;
}

td {
    padding: 5px;
    padding-left: 20px;
}

.matchestable td {
    vertical-align: text-top;
}

.resultentry {
    max-width: 550px;
    border-bottom: 1px solid rgb(51, 38, 28);
}

.firstentry {
    display: inline-block;
}

.hiddenentry {
    display: none;
}

.hovertoview {
    color: powderblue;
}

.entrybox:hover .hiddenentry {
    display: inline-block;
}

.entrybox:hover .hovertoview {
    display: none;
}

input[type=text] {
    background-color: rgb(249, 237, 232);
    border-color: rgb(255, 213, 192);
    padding: 5px;
    border-radius: 5px;
}

input[type=number] {
    border-color:rgb(255, 213, 192);
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 213, 192);
    border-color:rgb(255, 213, 192);
    padding: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    background-color: rgb(249, 237, 232);
    border-color:rgb(51, 38, 28);
    outline: none;
    border-radius: 5px;
}

input[type=submit]:focus {
    background-color: rgb(255, 213, 192);
    border-color:rgb(51, 38, 28);
    outline: none;
    border-radius: 5px;
}

input[type=text], select, textarea{
    border-color:rgb(255, 213, 192);
    outline: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    transition: all 500ms ease;
}

a:link {
    color: rgb(151, 38, 28);
}

a:visited {
    color: rgb(151, 38, 28);
}

a:hover {
    color: rgb(204, 67, 67);
}

a:active {
    color: rgb(151, 38, 28);
}

.articlename {
    font-size: 18px;
}

/* Link inside the header */
header a {
    color: rgb(255, 213, 192);
}

header a:link {
    color: rgb(255, 213, 192);
}

header a:visited {
    color: rgb(255, 213, 192);
}

header a:hover {
    color: rgb(255, 213, 192);
}

header a:active {
    color: rgb(255, 213, 192);
}

.dropbtn {
background-color: rgb(161, 48, 48);
color: rgb(255, 213, 192);
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
min-width: 230px;
border-radius: 5px;
font-family: 'Courier New', Courier, monospace;

}

/* The container div - needed to position the dropdown content */
.dropdown {
position: absolute;
display: inline-block;
margin-right: 2%;
margin-top: 2%;
font-family: 'Courier New', Courier, monospace;
float: right;
width: 230px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: rgb(247, 122, 122);
width: 230px;
font-family: 'Courier New', Courier, monospace;
box-shadow: 0px 8px 16px 0px rgba(27, 1, 22, 0.2);
z-index: 1;
border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-family: 'Courier New', Courier, monospace;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(204, 67, 67)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color: rgb(161, 48, 48);
}

/* The following parts don't work but they're here in case the problem was simply with the browser and not the code */

#rotate {
	-webkit-transition: -webkit-transform .8s ease-in-out;
			transition:         transform .8s ease-in-out;
}
	
#rotate:hover {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
}

/* Makes the article cowboy rotate infinitely when you hover mouse over it */
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#rotate:hover {
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
}