<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<title>Search Engine</title>
</head>
	<body>
		<div class="dropdown">
			<button class="dropbtn">Links</button>
			<div class="dropdown-content">
				<a href="https://github.com/ssigrid/yehaw">Our github</a>
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Read more about the songs</a>
				<a href="https://youtu.be/rvrZJ5C_Nwg?t=142">Gutenberg himself</a>
				<a href="https://www.youtube.com/watch?v=R8R-ge3bzsY">The Creators</a>
			</div>
		</div>
		
		<div class="content_div">
		<header>
			<img src="static/pensive_cowboy.png" style="width: 1em" class="rotate">
			<a href="/search">Search from 153 Cowboy Songs</a>
			<img src="static/pensive_cowboy.png" style="width: 1em" class="rotate">
		</header>
		<table>
			<tr>
				<form>
					<td>
						<input type="text" id="query" name="query" autofocus>
						
						<select name="query_type">
							<option value="r_query">Relevance</option>
							<option value="b_query">Boolean</option>
						</select>
						
						<input type="submit" value="Search" alt="Search">
						
						<input type="checkbox" id="topicrank" name="topicrank">
						<label for="topicrank">Show Keywords</label>
					</td>
				</form>
			</tr>
			<tr>
				<td>
					<span>Welcome to Team Yehaw's search engine!</span>
					<p>If you pick relevance search, input your query in double quotes for exact matching
					or leave the quotes out if you want to search for matching word stems.
					Using an asterisk(*) in a (quote-less) search matches the asterisk to any character(s),
					for example 'do*' matches to do, down, and doctrines.</p>
					<p>For Boolean search, use the words "and", "or", and "not" to separate your search words.</p>
					<p>Clicking 'Show Keywords' lets you see the ten most important words of your search results drawn on a beautiful plot :)</p>
				</td>
			</tr>
		</table>
		
		{% if matches %}
		<!--Reload the page with variable "query" in the URL-->
		<table>
			<!--Go through each item in the "matches" variable sent from search() function in the Flask app-->
			{% for item in matches %}
				{% if item.name is defined %}
					<tr>
						<td class="songname">{{ item["rank"] }}</td>
						<td class="songname">{{ item["name"] }}</td>
						<td class="box4songs">
							{% if item.title is defined %}
								{{ item["title"] }}
							{% endif %}
							{% if item.title is undefined %}
								<div class="click4lyrics" tabindex="1">Click here to see the lyrics<br>(click somewhere else to hide them)</div>
								<div class="hiddenbox">
									{% for entry in item.text %}
										<div class="lyrics">{{ entry }}</div>
									{% endfor %}
								</div>
							{% endif %}
						</td>
					</tr>
				{% if item["plotimg"] %}
					<tr>
						<td class="songname"></td>
						<td class="songname"></td>
						<td class="box4songs">
							<div class="click4lyrics" tabindex="1">Click here to see the plot<br>(click somewhere else to hide it)</div>
							<div class="hiddenbox"><img src="./static/{{ item['plotimg'] }}" class="plot"></div>
						</td>
					</tr>
				{% endif %}
				{% elif item.name is undefined %}
					<tr>
						<td style="width: 10%"><img src="static/cowboy_crying.png" style="width: 100%" class="rotate"></td>
						<td style="text-align: center">{{ item }}</td>
						<td style="width: 10%"><img src="static/cowboy_crying.png" style="width: 100%" class="rotate"></td>
					</tr>
				{% endif %}
			<!--End for loop-->
			{% endfor %}
		</table>
		{% endif %}

		<footer>
			<span>Background image by <a href="https://pixabay.com/users/devanath-1785462/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2389830">
				Devanath</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2389830">
					Pixabay</a>
				<br>Crying cowboy icon by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">
					Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
				<br>Songs from the book <i>Cowboy Songs and Other Frontier Ballads</i> from <a href="https://www.gutenberg.org/ebooks/21300">www.gutenberg.com</a>
			</span>
		</footer>
		</div>
	</body>
</html>